@model IEnumerable<PizzaBox.Models.OrderModel>

@{
    ViewData["Title"] = "View Orders";
}

<h1>View Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)$
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzaCount)
                </td>
                <td>
                    @Html.ActionLink("Details", "ViewDetails", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>