@model IEnumerable<RestaurantModel>

@{
    ViewData["Title"] = "SelectRestaurant";
}

<h1>SelectRestaurant</h1>

<h5>
    @Html.ActionLink("Cancel", "CreateOrder", "Order")
</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Open)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Open):00 -
                    @Html.DisplayFor(modelItem => item.Close):00
                </td>
                <td>
                    @Html.ActionLink("Select", "LinkRestaurant", "Order", item)
                </td>
            </tr>
        }
    </tbody>
</table>